.container4{
    box-shadow: 7px 4px 18px #314042; 
    background: rgba(129, 176, 216, 0.48);
    height: 90%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(to bottom right, #0eb0e5, #b1b1b0);
    margin: auto;
    margin-top: 90px;

}

#bid2
{
width: 50%;
height: 50px;
background-color: rgb(119, 183, 211);
opacity: 0.5;
}

.container4 h1{
font-size: 36px;
font-weight: 250;
text-align: center;
text-shadow: 2px 2px darkgoldenrod;
}
.container4 input{
width: 80%;
background: transparent;
border-right: 0px;
border:0px;
border-bottom: 1px solid white;
font-size: 18px;
margin-top: 10px;
height: 40px;
color: black;
margin-left: 10%;
}
#submitbut1
{
background-color:  #008CBA; 
box-shadow: 0 8px 16px 0 rgb(74, 113, 123), 0 6px 20px 0 rgb(151, 232, 255);
border: 2px solid rgb(116, 162, 177);  
color: black;
width: 50%;
padding: 8px 16px;
}

#span1
{
    color:black;
    font-weight: 600;
}
