 #s1{
    font-size: 36px;
    font-weight: 250;
    text-align: center;
    text-shadow: 2px 2px #4e82e9;
    }
#s2{
    font-weight: 250;
    text-align: center;
    text-shadow: 2px 2px #7a7b7d;
    }