.container10 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container10::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container10 img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container10 img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }